<h3><a class="btn btn-primary" href="/store"><i class="fa fa-plus"></i> Create New</a> Store List</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Location</th>
            <th>View Employees</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.location}}</td>
            <td><a class="btn btn-secondary" href="/store/employees"><i class="fa fa-database"></i> View Employees</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>